<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link href="/css/bg.css" rel="stylesheet" type="text/css">

    <title>add</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col fs-3 badge bg-primary text-wrap">
                Заполните необходимые данные:
            </div>
        </div>
    </div>

    <br/>

    <div class="container">
        <form th:method="POST" th:action="@{/catalog/operations/add}" th:object="${object}" class="text-center">
            <div class="mb-3">
                <label for="name" class="form-label fw-light badge bg-light text-wrap fs-6" style="color: black">Наименование</label>
                <center>
                    <div class="col-sm-3">
                        <input type="text" th:class="'form-control ' + (${activeValidator} ? (${#fields.hasErrors('name')} ? 'is-invalid' : 'is-valid') : '')" id="name" th:field="*{name}" required>
                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: crimson"></div>
                    </div>
                    <br/>
                </center>

                <label for="TIN" class="form-label fw-light badge bg-light text-wrap fs-6" style="color: black">ИНН</label>
                <center>
                    <div class="col-sm-3">
                        <input type="text" th:class="'form-control ' + (${activeValidator} ? (${#fields.hasErrors('TIN')} ? 'is-invalid' : 'is-valid') : '')" id="TIN" th:field="*{TIN}" required>
                        <div th:if="${#fields.hasErrors('TIN')}" th:errors="*{TIN}" style="color: crimson"></div>
                    </div><br/>
                </center>

                <label for="TRR" class="form-label fw-light badge bg-light text-wrap fs-6" style="color: black">КПП</label>
                <center>
                    <div class="col-sm-3">
                        <input type="text" th:class="'form-control ' + (${activeValidator} ? (${#fields.hasErrors('TRR')} ? 'is-invalid' : 'is-valid') : '')" id="TRR" th:field="*{TRR}" required>
                        <div th:if="${#fields.hasErrors('TRR')}" th:errors="*{TRR}" style="color: crimson"></div>
                    </div><br/>
                </center>

                <label for="account_number" class="form-label fw-light badge bg-light text-wrap fs-6" style="color: black">Номер счёта</label>
                <center>
                    <div class="col-sm-3">
                        <input type="text" th:class="'form-control ' + (${activeValidator} ? (${#fields.hasErrors('accountNumber')} ? 'is-invalid' : 'is-valid') : '')" id="account_number" th:field="*{accountNumber}" required>
                        <div th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}" style="color: crimson"></div>
                    </div><br/>
                </center>

                <label for="BIC" class="form-label fw-light badge bg-light text-wrap fs-6" style="color: black">БИК</label>
                <center>
                    <div class="col-sm-3">
                        <input type="text" th:class="'form-control ' + (${activeValidator} ? (${#fields.hasErrors('BIC')} ? 'is-invalid' : 'is-valid') : '')" id="BIC" th:field="*{BIC}" required>
                        <div th:if="${#fields.hasErrors('BIC')}" th:errors="*{BIC}" style="color: crimson"></div>
                    </div><br/>
                </center>
            </div>

            <button type="submit" class="btn btn-success w-25"><p class="fs-4">Добавить</p></button>
        </form>
    </div>

    <br/>

    <div class="container text-center">
        <a class="btn btn-secondary w-25" th:href="@{/catalog/operations}" role="button"><p class="fs-4">Вернуться назад</p></a>
    </div>

    <br/>

    <div class="container text-center">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#info">
            Помощь по заполнению
        </button>
    </div>

    <div class="modal fade" id="info" tabindex="-1" aria-labelledby="label" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label">Информация</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="container">
                        <p style="text-indent: 25px;">
                            Для добавления контрагента в справочник необходимо заполнить ВСЕ поля валидными (корректными) данными.
                            Если какое-то поле всё-таки не было заполнено или было заполнено некорректно, то
                            все ранее написанные данные могут быть сброшены. Поэтому будьте внимательны перед тем, как нажимать кнопку "Добавить".
                            Под некорректно заполненным полем может появиться текст красного цвета, сигнализирующий о том,
                            что введенные данные были невалидными. Исправьте в соответствии с нижеуказанными правилами и
                            попытайтесь добавить контрагента снова.
                        </p>

                        <hr/>

                        <div class="row">
                            <p class="fs-5 fw-weight-bold"># Наименование.</p>
                            <p style="text-indent: 25px;">
                                Данное поле ограничено 20 символами и является уникальным.
                                Вы не сможете создать контрагента с наименованием, которое уже есть в справочнике.
                            </p>
                        </div>

                        <div class="row">
                            <p class="fs-5 fw-weight-bold"># ИНН.</p>
                            <p style="text-indent: 25px;">
                                Идентификационный номер налогоплательщика (сокращенно ИНН) – документ,
                                содержащий цифровой шифр, присваивающийся всем плательщикам налогов.
                                Это поле может быть корректно заполнено двумя способами:
                                ввести ИНН организации (10 цифр) или ИНН физического лица (12 цифр).
                                Но для ввода правильности ИНН недостаточно, если цифры введены произвольным способом.
                                ИНН должен быть подлинным, невыдуманным, иначе у Вас не получится заполнить это поле.
                            </p>
                        </div>

                        <div class="row">
                            <p class="fs-5 fw-weight-bold"># КПП.</p>
                            <p style="text-indent: 25px;">
                                КПП - Код причины постановки на учет (сокращенно КПП).
                                Как правило, данное поле состоит из 9 цифр, но существуют исключения (наличие латинских букв).
                            </p>
                        </div>

                        <div class="row">
                            <p class="fs-5 fw-weight-bold"># Номер счёта.</p>
                            <p style="text-indent: 25px;">
                                Это поле состоит из 20 цифр. Для правильного ввода необходимо корректно ввести БИК. Если БИК
                                введен некорректно, у Вас не получится пройти проверку на правильность ввода номера счёта. Это
                                связано с тем, что БИК и номер счёта тесно связаны друг с другом. У Вас так же не получится
                                произвольным способом заполнить данное поле (вписать выдуманное значение).
                            </p>
                        </div>

                        <div class="row">
                            <p class="fs-5 fw-weight-bold"># БИК.</p>
                            <p style="text-indent: 25px;">
                                Банковский идентификационный код (сокращенно БИК) – уникальный код кредитной организации.
                                Данное поле состоит из 9 цифр.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</body>
</html>