<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">

    <title>delete</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col fs-3 badge bg-primary text-wrap">
                Выберите вариант удаления контрагента из справочника:
            </div>
        </div>
    </div>

    <br/><br/>

    <div class="container text-center">
        <button type="button" class="btn btn-danger w-25 p-3" data-bs-toggle="modal" data-bs-target="#deleteByName">
            <p class="fs-3">По наименованию</p>
        </button>
    </div>

    <div class="modal fade" id="deleteByName" tabindex="-1" aria-labelledby="label_name" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label_name">Поиск</h5>
                </div>

                <div class="modal-body">
                    <div class="container">
                        <form th:method="POST" th:action="@{/catalog/operations/delete/search_by_name}" class="text-center">
                            <div class="mb-3">
                                <label for="name_d" class="form-label fw-light badge bg-light text-wrap fs-6" style="color: black">Наименование</label>
                                <center>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="name_d" name="name" value="">
                                    </div><br/>
                                </center>
                            </div>

                            <button type="submit" class="btn btn-success"><p class="fs-5">Найти</p></button>
                        </form>

                        <br/><br/>

                        <div th:if="${counterparty}">
                            <table th:class="'table table-striped table-hover table-bordered ' + ${none}" th:object="${counterparty}">
                                <thead class="text-center">
                                <tr class="table-primary">
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">TIN</th>
                                    <th scope="col">TRR</th>
                                    <th scope="col">Account number</th>
                                    <th scope="col">BIC</th>
                                </tr>
                                </thead>

                                <tbody class="text-center">
                                <tr class="table-light">
                                 <th scope="row"><p th:text="${counterparty.getId()}"></p></th>
                                    <td><p th:text="${counterparty.getName()}"></p></td>
                                    <td><p th:text="${counterparty.getTIN()}"></p></td>
                                    <td><p th:text="${counterparty.getTRR()}"></p></td>
                                    <td><p th:text="${counterparty.getAccountNumber()}"></p></td>
                                    <td><p th:text="${counterparty.getBIC()}"></p></td>
                                </tr>
                                </tbody>
                            </table>

                            <form th:method="POST" th:action="@{/catalog/operations/delete/search_by_name/{id}(id=${counterparty.getId()})}" class="text-center">
                                <button type="submit" class="btn btn-danger"><p class="fs-5">Удалить</p></button>
                            </form>
                        </div>

                        <div th:unless="${counterparty}" th:class="'text-center table table-striped table-hover table-bordered ' + ${none}">
                            <p class="fw-light badge bg-light text-wrap fs-6" style="color: crimson">
                                Контрагент с указанным наименованием не был найден в справочнике.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-danger" th:href="@{/catalog/operations/delete}" role="button"><p class="fs-5">Close</p></a>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>

    <div class="container text-center">
        <button type="button" class="btn btn-danger w-25 p-3" data-bs-toggle="modal" data-bs-target="#deleteById">
            <p class="fs-3">По идентификатору</p>
        </button>
    </div>

    <div class="modal fade" id="deleteById" tabindex="-1" aria-labelledby="label_id" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label_id">Поиск</h5>
                </div>

                <div class="modal-body">
                    <div class="container">
                        <form th:method="POST" th:action="@{/catalog/operations/delete/search_by_id}" class="text-center">
                            <div class="mb-3">
                                <label for="name_id" class="form-label fw-light badge bg-light text-wrap fs-6" style="color: black">Идентификатор</label>
                                <center>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="name_id" name="id" value="">
                                    </div><br/>
                                </center>
                            </div>

                            <button type="submit" class="btn btn-success"><p class="fs-5">Найти</p></button>
                        </form>

                        <br/><br/>

                        <div th:if="${counterparty}">
                            <table th:class="'table table-striped table-hover table-bordered ' + ${none}" th:object="${counterparty}">
                                <thead class="text-center">
                                <tr class="table-primary">
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">TIN</th>
                                    <th scope="col">TRR</th>
                                    <th scope="col">Account number</th>
                                    <th scope="col">BIC</th>
                                </tr>
                                </thead>

                                <tbody class="text-center">
                                <tr class="table-light">
                                    <th scope="row"><p th:text="${counterparty.getId()}"></p></th>
                                    <td><p th:text="${counterparty.getName()}"></p></td>
                                    <td><p th:text="${counterparty.getTIN()}"></p></td>
                                    <td><p th:text="${counterparty.getTRR()}"></p></td>
                                    <td><p th:text="${counterparty.getAccountNumber()}"></p></td>
                                    <td><p th:text="${counterparty.getBIC()}"></p></td>
                                </tr>
                                </tbody>
                            </table>

                            <form th:method="POST" th:action="@{/catalog/operations/delete/search_by_id/{id}(id=${counterparty.getId()})}" class="text-center">
                                <button type="submit" class="btn btn-danger"><p class="fs-5">Удалить</p></button>
                            </form>
                        </div>

                        <div th:unless="${counterparty}" th:class="'text-center table table-striped table-hover table-bordered ' + ${none}">
                            <p class="fw-light badge bg-light text-wrap fs-6" style="color: crimson">
                                Контрагент с указанным идентификатором не был найден в справочнике.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-danger" th:href="@{/catalog/operations/delete}" role="button"><p class="fs-5">Close</p></a>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>

    <div class="container text-center">
        <a class="btn btn-secondary w-25" th:href="@{/catalog/operations}" role="button"><p class="fs-4">Вернуться назад</p></a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous">
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script id="modal" th:data-src="${modalName}">
        let modalName = document.getElementById("modal").getAttribute("data-src");

        if (modalName.length !== 0) {
            $(document).ready(function () {
                $(modalName).modal('show');
            });
        }
    </script>

    <script id="modal_end" th:data-src="${modalName}">
        $(document.getElementById("modal").getAttribute("data-src")).on('hidden.bs.modal', function () {
            window.location.href = '/catalog/operations/delete';
        })
    </script>
</body>
</html>